extends layout
block content
    section(data-role="page", id="loginPage")
        div(data-role="header", data-theme="b")
            h1 Tripbook
        div(data-role="content")
            div
                form(data-role="controlgroup", id="login", method="post")
                    input(type="email", name="email", id="email", placeholder="Email", required)
                    input(type="password", name="password", id="password", placeholder="Password", required)
                    input(type="submit", value="Log In", data-theme="b")
            br
            a(data-role="button", data-icon="forward", data-iconpos="right", data-theme="e", href="register.html") Register

    section(data-role="page", id="feed" dir="rlt")
        div(data-role="header", data-theme="b")
            h1 Tripbook
        div(data-role="content" id="feedContent")

    section(data-role="page", id="userProfile")
        div(data-role="header", data-theme="b")
            h1 Tripbook
        div(data-role="content" id="profileContent")

    section(data-role="page", id="place")
        div(data-role="header", data-theme="b")
            h1 Tripbook
        div(data-role="content" id="placeContent")
