extends layout
block content
    section(data-role="page", id="loginPage")
        div(data-role="header", data-theme="b")
            h1 Tripbook
        div(data-role="content")
            div
                form(data-role="controlgroup", id="login", method="post")
                    input(type="email", name="email", id="email", placeholder="Email", required)
                    input(type="password", name="password", id="password", placeholder="Password", required)
                    input(type="submit", value="Log In", data-theme="b")
            br
            a(data-role="button", data-icon="forward", data-iconpos="right", data-theme="e", href="#registerpage") Register

    section(data-role="page", id="feed" dir="rlt")
        div(data-role="header", data-theme="b")
            h1 Tripbook
        div(data-role="content" id="feedContent")

    section(data-role="page", id="userProfile")
        div(data-role="header", data-theme="b")
            h1 Tripbook
        div(data-role="content" id="profileContent")

    section(data-role="page", id="place")
        div(data-role="header", data-theme="b")
            h1 Tripbook
        div(data-role="content" id="placeContent")

    section(data-role="page", id="registerpage")
        div(data-role="header", data-theme="b")
            h1 Tripbook
        div(data-role="content")
            div
                form(data-role="controlgroup", id="register", method="post")
                    input(type="text" placeholder='User Name' name="username" id="username", required)
                    input(type="email", name="email", id="email", placeholder="Email", required)
                    input(type="password", name="password", id="password", placeholder="Password", required)
                    input(type="submit", value="Register", data-theme="b")
                    
            br
            a(data-role="button", data-icon="forward", data-iconpos="right", data-theme="e", href="#loginPage") Back

    section(data-role="page", id="posttrackpage")
        div(data-role="header", data-theme="b")
            h1 Tripbook
        div(data-role="content")
            div
                form(data-role="controlgroup", id="posttrack", method="post")
                    input(type="text" placeholder='content' name="content" id="content", required)                    
                    input(type="submit", value="Post", data-theme="b")
                    
            br
            a(data-role="button", data-icon="forward", data-iconpos="right", data-theme="e", href="#feed") Back
