extends layout
block content
    h1 Menu
        ul
            li
                a(href='./../like_and_comment.html') tracks
            li
                a(href='./../friendship.html') make friends
            li
                a(href='./../follow_place.html') follow place