extends layout
block content
    script(src="js/places.js")
    section(data-role="page", id="places")
        header(id="header", data-role="header")
            h1 Places
        article(data-role="content")
            ul(data-role="listview", data-filter="true", id="places_list")
        footer(data-role="footer", data-position="fixed")
            nav(data-role="navbar")
                ul
                    li
                        a(href="#home", data-role="button", data-icon="home") "Home
                    li
                        a(href="#photos", data-icon="grid") "Photos"
                    li
                        a(href="#about", data-icon="info") "About"